<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-zinc-900">
    <div class=" w-full h-full p-10 text-white  ">
        <div class="nav">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
        <form action="/update/<%= users.id %>" method="post">
            <input class="px-5 py-3 border-2 my-1 border-zinc-800 outline-none bg-transparent " type="text" name="name" placeholder="name" value="<%= users.name %>">
            <input class="px-5 py-3 border-2 my-1 border-zinc-800 outline-none bg-transparent " type="text" name="email" placeholder="email" value="<%= users.email %>">
            <input class="px-5 py-3 border-2 my-1 border-zinc-800 outline-none bg-transparent " type="text" name="image" placeholder="image url" value="<%= users.image %>">
            <input class="px-5 py-3 my-1 bg-yellow-500 rounded-lg ml-3 text-black" type="submit" name="Update User" value="Update User">
        </form>
    </div>
</body>
</html> 